pandas
numpy
gunicorn
flask
scikit-learn
catboost
xgboost
pip
emoji
attrs
wheel
cryptography
Pillow
tornado
Jinja2
MarkupSafe
Werkzeug
click
itsdangerous
setuptools
Cython
tensorflow
matplotlib
scipy
ipython
Pygments
colorama
requests
rsa
pyasn1
dill
gast
h5py
keras
six
wrapt
pytz
cffi
cachetools
certifi
urllib3
Markdown
PyYAML
oauthlib
idna
termcolor
torch
tensorboard
flatbuffers
packaging
astunparse
lxml

absl-py
blinker
charset-normalizer
google-auth-oauthlib
google-pasta
grpcio
jax
libclang
ml-dtypes
opt-einsum
protobuf
pyasn1-modules
requests-oauthlib
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
typing_extensions
